@model sklad56.Models.PageableData<sklad56.Models.Item>

@{
    ViewBag.Title = "EquipEditList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var sortVar = (int)ViewBag.Sorted;
    var castCount = (int)ViewBag.castCount;
}

<div class="row">
    <div class="col-sm-2">

    </div>
    <div class="col-sm-10 top-menu">
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li><a href="@Url.Action("Index", "Home")">Главная</a></li>
                <li class="active"><a href="@Url.Action("Editor", "Home")">Редактирование</a></li>
                <li><a href="@Url.Action("Movements", "Home")">Операции</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-2 sidebar">
        <ul class="nav nav-pills nav-stacked">
            <li>@Html.ActionLink("пользователи", "UserEditList", "User")</li>
            <li class="active">@Html.ActionLink("предметы", "EquipEditList", "Equip")</li>
            <li>@Html.ActionLink("комплекты", "EditList", "Package")</li>
        </ul>
    </div>
    <div class="col-sm-8 content">
        <div class="pull-right">
            <p>&nbsp;</p>
            <p><a href="@Url.Action("RegisterItem", "Equip")" class="btn btn-sm btn-primary">новый предмет</a></p>
        </div>

        <h3>Список предметов</h3>
        @for (byte i = 0; i <= castCount; i++)
        {
            <text>|</text> <a href="@Url.Action("EquipEditList", new { sorted = i })">@i.ToEnumTyp()</a>
        }
        |
        <table class="table table-striped table-condensed" width="160">
            @foreach (var item in Model.List)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("EquipItem", "Equip", new { ItemID = item.ID_Item })">@item.Itemname @item.Serial</a>
                    </td>
                    <td class="text-right">
                        <span class="label label-info"><a href="@Url.Action("EditItem", "Equip", new { ItemID = item.ID_Item })">...</a></span>
                        <span class="label label-warning"><a href="@Url.Action("DeleteItem", "Equip", new { ItemID = item.ID_Item, returnUrl = Request.Url.PathAndQuery })" onclick="return confirm('Удаляем предмет\nВы уверены?')">&nbsp;x&nbsp;</a></span>
                    </td>
                </tr>
            }
        </table>

        <div class="pagination">
            @Html.PageLinks(Model.PageNo, Model.CountPage, x => Url.Action("EquipEditList", new { page = x, sorted = sortVar }))
        </div>
    </div>
</div>
