@model sklad56.Models.Package

@{
    ViewBag.Title = "Редактирование комплекта";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Edit = (bool)ViewBag.Edit;
}

<div class="row">
    <div class="col-sm-2">

    </div>
    <div class="col-sm-10 top-menu">
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li><a href="@Url.Action("Index", "Home")">Главная</a></li>
                <li class="active"><a href="@Url.Action("Editor", "Home")">Редактирование</a></li>
                <li><a href="@Url.Action("Movements", "Home")">Операции</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-2 sidebar">
        <ul class="nav nav-pills nav-stacked">
            <li>@Html.ActionLink("пользователи", "UserEditList", "User")</li>
            <li>@Html.ActionLink("предметы", "EquipEditList", "Equip")</li>
            <li>@Html.ActionLink("комплекты", "EditList", "Package")</li>
            <li>@Html.ActionLink("места", "EditPlaceList", "Package")</li>
        </ul>
    </div>
    <div class="col-sm-8 content">
        <h3>Создание/редактирование комплекта</h3>

        @using (Html.BeginForm("Register", "Package", new { Edit = Edit }, FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <fieldset>
                <div class="control-group">
                    @Html.HiddenFor(x => x.ID_Pack)
                    <label class="control-label" for="Username">
                        <abbr title="Данное имя будет отображаться везде, где фигурирует комплект" class="initialism">Имя комплекта</abbr>
                    </label>
                    <div class="controls">
                        @Html.TextBox("Name", Model.Name)
                        @Html.ValidationMessage("Name")
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="Post">
                        <abbr title="Дополнительные сведения о назначении комплекта. Поле не обязательное" class="initialism">Комментарий</abbr>
                    </label>
                    <div class="controls">
                        @Html.TextBox("Coment", Model.Coment)
                        @Html.ValidationMessage("Coment")
                    </div>
                </div>
                <br />
                <div class="form-actions">
                    <button type="submit" class="btn btn-success">
                        Применить
                    </button>
                    @Html.ActionLink("Cancel", "EditList", "Package", null, new { @class = "btn btn-primary" })
                </div>
            </fieldset>
        }
    </div>
</div>

