@model sklad56.Models.CartIndexViewModel

@{
    ViewBag.Title = "CartIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-2">

    </div>
    <div class="col-sm-10 top-menu">
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li><a href="@Url.Action("Index", "Home")">Главная</a></li>
                <li><a href="@Url.Action("Editor", "Home")">Редактирование</a></li>
                <li class="active"><a href="@Url.Action("Movements", "Home")">Операции</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-2 sidebar">
        <ul class="nav nav-pills nav-stacked">
            <li class="active">@Html.ActionLink("оформить", "Index", "Cart")</li>
            <li>@Html.ActionLink("вернуть", "ReturnList", "Equip")</li>
            <li class="disabled"><a href="#">прочее</a></li>
        </ul>
    </div>
    <div class="col-sm-9 tab-content">
        <br />
        <table align="right">
            <tr>
                <td>
                    <p align=right><b>На кого: &nbsp;</b></p>
                </td>
                <td>
                    <p>@Html.DropDownListFor(md => md.User, Model.Users)</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p align=right><b>Комментарий: &nbsp;</b></p>
                </td>
                <td>
                    <p>@Html.TextBoxFor(md => md.Coment)</p>
                </td>
            </tr>
        </table>

        <h3>Предметы на оформление</h3>
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center">Кол-во</th>
                    <th class="text-center">Предмет</th>
                    <th class="text-left">Серийный номер</th>
                    <th class="text-right"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var line in Model.Cart.Lines)
                {
                    <tr>
                        <td class="text-center">@line.quantity</td>
                        <td class="text-center">@line.item.Itemname</td>
                        <td class="text-left">@line.item.Serial</td>
                        <td class="text-right">
                            @using (Html.BeginForm("RemoveFromCart", "Cart"))
                            {
                                @Html.Hidden("ItemID", line.item.ID_Item)
                                @Html.HiddenFor(x => x.ReturnUrl)
                                <input class="btn btn-xs btn-warning" type="submit" value="Удалить" />
                            }
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="text-right">Итого:</td>
                    <td class="text-left">
                        @Model.Cart.ComputeTotalValue().ToString("# предметов")
                    </td>
                </tr>
            </tfoot>
        </table>
        <label class="checkbox">
            <input type="checkbox" value="" class="disabled">
            При оформлении действия распечатать накладную
        </label>
        <div class="text-center">
            
            <br />
            <a class="btn btn-primary" href="#">Оформить</a>
            <a class="btn btn-primary" href="@Model.ReturnUrl">Продолжить</a>
        </div>
    </div>
</div>

